<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/assets/style.css">
</head>
<body>
    <h1 style="text-align: center; margin-top: 5%; font-size: 3.5rem;">Thank You!</h1>
    <div class="conclusion">
        
        <h2 style="margin-top: 5%; font-size: 2.5rem;">Conclusion</h2>
        <span style="width: 200px;">
             This model demonstrates how to use a combination of libraries and models for real-time face detection and facial landmark detection using a computer's webcam. By using the dlib library and the pre-trained shape_predictor_68_face_landmarks.dat model, the code is able to accurately detect and locate facial landmarks, specifically the eyes, in order to detect drowsiness or sleepiness in the subject. This can be used in various applications such as monitoring driver fatigue, monitoring patient conditions in hospitals, and other similar use cases.
        </span>
    </div>

</body>
</html>